//====================================================================================================

.hero {

   display: grid;
   padding: toRem(80) toRem(15) toRem(60) toRem(15);
   grid-template-columns: auto 1fr auto;
   /* 412/1890 */
   background-color: $darkBlueBg;
   min-height: 100vh;
   position: relative;

   // .hero__decor
   &__decor {}



   @media (max-width:$tablet) {
      grid-template-columns: auto;
   }

   // .hero__image-ibg
   &__image-ibg {
      @include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
      border-radius: toRem(24);
      overflow: hidden;

      @media (max-width:$tablet) {
         display: none;
      }

      img {
         object-position: top;
      }
   }

   // .hero__body
   &__body {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("padding-left", 40, 15, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 40, 15, 0, $containerWidth, 991.98);
   }

   // .hero__content
   &__content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   // .hero__items
   &__items {
      @include adaptiveValue("margin-bottom", 24, 14);
   }

   // .hero__block-header
   &__block-header {
      margin-bottom: toRem(24);
   }
}

.items-hero {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   @include adaptiveValue("column-gap", 52, 32);

   // .items-hero__item
   &__item {
      @include adaptiveValue("font-size", 20, 14);
      font-weight: 700;
      line-height: math.div(28, 14);
      color: #9EA3B5;
      position: relative;

      &:not(:last-child) {
         &::after {
            content: '';
            position: absolute;
            top: 50%;
            @include adaptiveValue("right", -28, -16);
            width: toRem(5);
            height: toRem(5);
            border-radius: 50%;
            background-color: #9EA3B5;
         }
      }
   }
}

.advantages-hero {
   margin-top: toRem(30);
   align-self: center;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: space-between;
   align-items: center;
   margin-bottom: toRem(30);
   @include adaptiveValue("column-gap", 64, 55, 0, 1920, 768);

   @media (max-width: em(1810)) {
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      gap: toRem(40);

      &::after {
         content: '';
         position: absolute;
         width: toRem(2);
         height: 100%;
         top: 0;
         right: 50%;
         background: linear-gradient(0deg, rgba(20, 34, 87, 0), rgba(79, 102, 183, 1), rgba(20, 34, 87, 0) 100%);
      }

      &::before {
         content: '';
         position: absolute;
         width: toRem(2);
         height: 100%;
         transform: rotate(-90deg);
         top: 0;
         right: 50%;
         background: linear-gradient(0deg, rgba(20, 34, 87, 0), rgba(79, 102, 183, 1), rgba(20, 34, 87, 0) 100%);
      }
   }

   // .advantages-hero__item
   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: toRem(16);
      position: relative;

      &:not(:last-child) {
         &::after {
            @media (max-width: em(1810)) {
               display: none;
            }

            content: '';
            position: absolute;
            width: toRem(2);
            height: 100%;
            top: 0;
            right: -32px;
            background: linear-gradient(0deg, rgba(20, 34, 87, 0), rgba(79, 102, 183, 1), rgba(20, 34, 87, 0) 100%);
         }
      }

      @media (max-width: em(1810)) {
         flex-direction: column;
         text-align: center;
         align-self: center;
         row-gap: toRem(14);
      }
   }

   // .advantages-hero__icon
   &__icon {
      background-color: $blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 toRem(48);
      width: toRem(48);
      height: toRem(48);
   }

   // .advantages-hero__text
   &__text {
      color: #fff;
      font-weight: 600;
      line-height: math.div(24, 18);
   }
}

.decor-hero {
   position: absolute;
   bottom: 0;
   width: 100%;
   // .decor-hero__item
   &__item {
      position: absolute;
      bottom: 0;
      width: percent(455, 1920);
      height: toRem(45);
      background-color: #fff;

      &:first-child {
         left: 0;

         &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 0;
            transform: translate(99.5%,0px);
            border-top: 45px solid transparent;
            border-left: 50px solid #fff;
            border-bottom: 0px solid transparent;
            
         }
      }

      &:last-child {
         right: 0;
         &::after {
               content: '';
               position: absolute;
               left: 0;
               bottom: 0;
               width: 0;
               height: 0;
               transform: translate(-99.5%, 0px);
               border-top: 45px solid transparent;
               border-right: 50px solid #fff;
               border-bottom: 0px solid transparent;
            }
      }
   }
}

//====================================================================================================